* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", sans-serif;
  background-color: #ebf2ff;
  transition: 0.5s;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 9999;
  padding: 2px 5px;
}
.navbar__brand {
  width: 100px;
}
.brand__logo {
  width: 100%;
}
.navbar__nav__items {
  display: flex;
}
.button__primary {
  padding: 8px 8px;
  background: #ee0979;
  background: linear-gradient(to right, #ee0979, #ff6a00);
  color: white;
  border: none;
  font-weight: 700;
  border-radius: 4px;
}
.button__primary:hover {
  background: #ee0979;
  background: linear-gradient(to left, #ee0979, #ff6a00);
}

.container {
  padding: 16px 16px;
}
.hero__image__container {
  position: relative;
  width: 100%;
}
.hero__image {
  position: absolute;
  left: auto;
  right: auto;
  width: 100%;
  border-radius: 10px;
  z-index: 2;
}
.hero__image__shape {
  position: absolute;
}

.hero__discription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__text {
  font-size: 35px;
  font-weight: 900;
  line-height: 37px;
}

.button__discription {
  margin-top: 10px;
}

.video__footage__container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video__footage {
  position: relative;
}

.video__footage::before {
  background: linear-gradient(to right, #ee0979, #ff6a00);
  content: "";
  top: 20px;
  left: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.video__footage__text {
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}

.food__list__container {
  position: relative;
  margin: 4rem 0;
  z-index: 9000;
}

.text-x1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
}

.food__menu__card__list {
  width: 100%;
}

.food__menu__card__image {
  border-radius: 6px 6px 0px 0px;
  width: 100%;
}
.food__menu__card__tittle {
  font-size: 20px;
}
.food__menu__card__details {
  padding: 20px 5px;
}

.view__button__container {

}
.view__button {
  width: 100%;
  height: 45px;
  margin: 32px 0;
  font-size: 1rem;
  background: linear-gradient(to right, #ee0979, #ff6a00);
}
.restaurant__list__image__container {
  margin-top: 1rem;
}

.restaurant__list__row1{
display: flex;
align-items: baseline;
}
.restaurant__list__row2{
display: flex;
align-items: flex-start;
margin-top: 15px;
flex-direction: row-reverse;
}
.restaurant1, .restaurant3{
width: 150px;
height: 80px;
border-radius: 5px;
margin: 0 5px;
}
.restaurant2, .restaurant4{
width: 200px;
height: 100px;
border-radius: 5px;
margin: 0 5px;
}
.stayupdated__container{
  line-height: 10px;
  margin-top: 4rem;
  padding-left: 10px;
}
.stay__text{
  text-align: left;
}
.stayupdated__input{
  padding: 7px 5px;
  background-color: #fcedf0;
  border-radius: 4px;
  border:1px solid #ee89a0;
  font-weight: 700;
  color:#1d3557;
}
.quote__image__container{
  background-image: url(assert/quoteoverlay.jpg);
  margin-top: 3rem;
 position: relative;
 height: 200px;
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 10px;
 background-repeat: no-repeat;
 background-size: cover;
 
}
.quote__image__overlay {
  position: absolute;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  background-color: #0a4065;
  opacity: 30%;
}
.quote{
  color: white;
  text-align: center;
  z-index: 2;
}

footer{
  background: linear-gradient(to left, #ee0979, #ff6a00);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  margin-top: 50px;
  line-height: 1.5rem;
}

footer img{
  width: 300px;
    filter: brightness(0) invert(1);
}
footer ul li{
  list-style: none;
}
@media (min-width: 1200px) {
  .hero__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

  }
  .navbar {
    padding: 0 30px;
  }
  .button__primary {
    width: 100px;
    height: 37px;
  }
  .container {
    padding: 30px 200px;
  }

  .hero__text {
    font-size: 48px;
    line-height: 1;
  }
  .video__footage__text {
    width: 60%;
  }
  .food__menu__card__list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .food__list__container{
    position: relative;
    padding-top: 30px
  }
  .food__menu__card{
    flex-basis: 30%;
    background-color: white;
    border-radius: 6px;
  }
  .food__list__container__diagonal{
    background: linear-gradient(to left, #ee0979, #ff6a00);
    width: 100%;
    height: 100%;
    z-index: -3; 
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(5deg);
  }
  .view__button__container{
    margin-top:40px ;
  }
  .view__button{
    width: 100%;
    height: 50px;
    color: white;
    background:none;
  }
  .view__button:hover{
    
    background: white;
    color: #ee0979;

  }
  .text-x1{
    font-size: 50px;
  }
  .order__text{
    text-align: left;
  }
  .restaurant__list__container{
    display: flex;
    align-items: center;
  }
  .restaurant__list__text{
    padding: 0 50px;
  }
  .restaurant1, .restaurant3{
   width: 250px;
   height: 180px;
  }

  .restaurant2, .restaurant4{
  width: 300px;
  height: 300px;
  }   
   .stay__text{
     font-size: 50px;
   }
   .stayupdated__input{
      width: 325px;
      height: 50px;
      padding: 7px 5px;
      background-color: #fcedf0;
      border-radius: 4px;
      border:1px solid #ee89a0;
      font-weight: 700;
      color:#1d3557;
  
   }
   .get__updated{
     width:150px;
     height: 50px;
   }
   .stayupdated__container{
     line-height: 2.5rem;
     padding-left: 30%;
     
   }
   .quote__image__container{
     height: 300px;
     width: 100%;
   }
   .quote__image__overlay {
    position: absolute;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background-color: #0a4065;
    opacity: 49%;
  }
  .quote__text {
    color: #fff;
    z-index: 3;
    margin: 0 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
  }
  footer{
  flex-direction: row;
  justify-content: space-evenly;
  height: 250px;
  }
  footer img{
    width: 400px;
  }
}
